<head>
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet" type="text/css">
    <style type="text/css">
        #outlook a { padding: 0; }
        .ReadMsgBody { width: 100%; }
        .ExternalClass { width: 100%; }
        .ExternalClass * { line-height:100%; }
        body { margin: 0; padding: 0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        table, td { border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }
        img { border: 0; height: auto; line-height: 100%; outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; }
        p { display: block; margin: 13px 0; }
    </style>
    <style type="text/css">
        @media only screen and (max-width:480px) {
            @-ms-viewport { width:320px; }
            @viewport { width:320px; }
        }
    </style>
    <style type="text/css">
        @media only screen and (min-width:480px) {
            .mj-column-per-100, * [aria-labelledby="mj-column-per-100"] { width:100%!important; }
        }
    </style>
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
    </style>
    <style type="text/css" media="screen, print">
        @font-face {
            font-family: "filson soft";
            src: url("https://dev.identitas.neon.id/font/fsr-webfont.woff2") format('woff2');
            src: url("https://dev.identitas.neon.id/font/fsr-webfont.woff") format('woff');
            font-weight: normal;
            font-style: normal;
        }
        body { font-family: "filson soft", Arial, Helvetica, sans-serif }
    </style>
</head>
<body style="background: #FBFBFB;">
    <div style="background: #FBFBFB;">
        <style type="text/css">
        html, body, * {
            -webkit-text-size-adjust: none;
            text-size-adjust: none;
        }
        a {
            color:#1875DB;
            text-decoration:none;
        }
        a:hover {
            text-decoration:underline;
        }
        </style>
        <div class="container" style="max-width:558px;margin:0 auto;box-shadow:0px 1px 5px rgba(0,0,0,0.1);border-radius:4px;overflow:hidden">
            <div class="header">
                <table role="presentation" cellpadding="0" cellspacing="0" style="height: 110px;font-size:0px;width:100%;background:#D80115;background-image: url(https://dev.identitas.neon.id/bgvector.png);background-repeat: no-repeat;background-position: bottom right;background-size:120px 120px;" align="center" border="0">
                    <tbody>
                        <tr>
                            <td style="vertical-align:top;direction:ltr;font-size:0px;">
                                <img style="margin-left: 84px;margin-top: 40px;margin-bottom: 40px;width: 119px;height: 34px;" src="https://dev.identitas.neon.id/logoneon.png" alt="logo">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="body">
                <div style="margin:0px auto;max-width:558px;background:#FBFBFB;">
                    <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:#FBFBFB;" align="center" border="0">
                        <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:top;direction:ltr;font-size:0px;padding-right: 84;padding-left: 84px;padding-top: 40px;padding-bottom: 40px;">
                                    <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                        <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                            <tbody>
                                                <tr>
                                                    <td style="word-break:break-word;font-size:0px;padding-bottom: 16px;" align="left">
                                                        <div style="cursor:auto;color:#232323;font-size:16px;line-height:24px;text-align:left;">
                                                            <p  style="font-weight: bold;font-size:24px;line-height: 31px;color:232323;">Verifikasi email anda sekarang</p>
                                                            <p  style="margin-top:32px;line-height: 18px;color:232323;font-size:14px;font-weight:normal;font-style: normal;text-align: start;">Kami meminta kamu untuk mengkonfirmasi bahwa alamat email ini telah anda gunakan untuk mengaktivasi akun anda di Neutron</p>
                                                            <p  style="color: #232323;font-size: 14px;line-height: 18px;font-weight: normal;font-style: normal;">Untuk melanjutkan proses penggantian password silahkan klik link ataupun tombol dibawah ini:</p>
                                                            <p  style="font-weight: normal;font-style: normal;font-size:14px;line-height: 140%;"><a href="#" class="link">vortex.co/jobs/view/1995969916/?refId=jwjUjYFPR%2FmGMePbNsyqWg%3D%3D</a></p>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr class="button">
                                                    <td style="word-break:break-word;font-size:0px;padding-bottom: 40;padding-top: 40px;" align="center">
                                                        <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse:separate;" align="center" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width:270px;height:44px;border:none;border-radius:61px;color:white;cursor:auto;padding:15px 19px;" align="center" valign="middle" bgcolor="#D80115">
                                                                        <a href="#" style="text-decoration:none;line-height:100%;background:#D80115;color:white;font-size:15px;font-weight:bold;text-transform:none;margin:0px;font-style: normal;" target="_blank">Ubah Password</a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr style="margin-top: 40px;">
                                                    <td style="word-break: break-word;color: #232323;">
                                                        <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse: separate;">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="width: 390px;">
                                                                        <p style="font-size:14px;font-weight:normal;font-style:normal;">Terima kasih,</p>
                                                                        <p style="font-size:14px;font-weight:normal;font-style:normal;">Tim Vortex</p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="footer" style="max-width:558px;height: 110px;background: #FFFFFF;display: flex;flex-direction: row;align-items: center;">
                <table role="presentation" cellpadding="0" cellspacing="0" style="font-size:0px;width:100%;background:transparent;" align="center" border="0">
                    <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;">
                                <div aria-labelledby="mj-column-per-100" class="mj-column-per-100 outlook-group-fix" style="vertical-align:top;display:inline-block;direction:ltr;font-size:13px;text-align:left;width:100%;">
                                    <table role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
                                        <tbody>
                                            <tr>
                                                <td style="word-break: break-word;color: #232323;">
                                                    <table role="presentation" cellpadding="0" cellspacing="0" style="border-collapse: separate;"align="center" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: center;">
                                                                    <p style="font-size:14px;font-weight:normal;font-style:normal;color:#555555;">PT Vortex Buana Edumedia</p>
                                                                    <p style="font-size:14px;font-weight:normal;font-style:normal;color:#7a7a7a;">Jl.Prof.Dr.Sardjito 25B,Yogyakarta,Yogyakarta 55233</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>